h1 {
  background: #ddd;
  /* width: 300px; */
}

span,
a,
strong {
  border: 1px solid rgba(0, 0, 0, 0.5);
}

/* a {
	padding: 20px;
	Aqui sem usar o inline-block o padding não respeita a linha de baixo, continua abaixo...
} */

a {
	padding: 20px;
	display: inline-block;
  margin: 10px;
	/* Aqui usando o inline-block, ele passa a respeitar para todos os lados tanto padding como a margin por exemplo  */
}

div, h1, p {
	border: 1px solid rgba(255, 0, 0, 0.5);
}

