ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  gap: 20px;
}

a {
  text-decoration: none;
  background: #eee;
  padding: 10px 20px;
  display: block; /*Evita aqueles fazemos, quando usamos por exemplo o padding maior*/
  color: #000000;
}