.cabecalho {
  /* padding: 20px; */
  padding: 1.25rem;
}


.cabecalho__titulo {
  text-align: center;
  /* padding: 20px; */
  padding: 1.25rem;
}

.menu__lista {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.menu__item {
  list-style: none;
  background: #FFFFFF;
  padding: 10px 20px;
  border-radius: 4px;
}

.menu__link {
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
}

.menu__item:hover {
  border: 2px solid rgb(233, 4, 4);
}