img {
  max-width: 100%;
  display: block;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  /* Definir uma largura */
  max-width: 960px;
  /* com margin left e right auto o conteudo estará sempre centralizado */
  /* margin-left: auto;
  margin-right: auto;   */
  /* Podemos trocar o left e o right por 0 para cima e para baixo e auto para esquerdade e para direita */
  margin: 0 auto;
}

.cover img {
  height: 100%;
  /* Os 100% de altura de acordo com os dois paragrafos */
  object-fit: cover;
  /* irá cortar a imagem sem perder a qualidade.*/
  object-position: top right;
  /* Aqui está a partir de qual posição mostrará */
}

.texto {
  align-self: center;
  /* Alinhando o texto a imagem ao centro */
}

p {
  max-width: 60ch;
}